In [2]:
import pandas as pd
import os
import re
import json

In [3]:
df = pd.read_csv('../data/interim/author_counts.csv', header=None)

In [4]:
df.columns = ['author', 'n_contributions']

In [5]:
df.head(100)

             author  n_contributions
0         [deleted]       1976316341
1   ImagesOfNetwork          3488598
2       transcribot          3450789
3    MTGCardFetcher          2955741
4        thefeedbot          1750146
..              ...              ...
95        TrollaBot           165477
96       mindbleach           165438
97           yaosio           164903
98             wjbc           164368
99     jobautomator           162733

[100 rows x 2 columns]

In [6]:
len(df)

565485

In [7]:
len(df[df.author.apply(lambda x: len(re.findall(r'bot([^a-zA-Z]|$)', x, flags=re.I|re.U))> 0)].author.tolist())

1111

In [8]:
df[df.author.apply(lambda x: len(re.findall(r'bot([^a-zA-Z]|$)', x, flags=re.I|re.U))> 0)]

                      author  n_contributions
2                transcribot          3450789
4                 thefeedbot          1750146
5       ModeratelyHelpfulBot          1707447
7               sneakpeekbot          1356545
10                removalbot          1272605
...                      ...              ...
563107   PreparingForRobot1x                3
563273         Breitbart_bot                3
563318              betobot_                3
563347               YrelBot                3
564578       SentinelBot3000                1

[1111 rows x 2 columns]

In [9]:
df[df.author.apply(lambda x: len(re.findall(r'tips?$', x, flags=re.I|re.U))> 0)]

                      author  n_contributions
22772             Slayer_Tip            19461
36761           Mushroom_Tip            14800
37416   spit-evil-olive-tips            14647
42255           Only_the_Tip            13555
51729             Neil_O_Tip            11843
58655                RpgTips            10873
75621    Random_Useless_Tips             8975
94497        FatLarrysHotTip             7453
101858  1017GildedFingerTips             6975
114741  Sociopathic_Pro_Tips             6248
115987  SendMeSupercoachTips             6186
118691            DrunkDMTip             6049
134577       LifeProPenisTip             5337
147634          eightinchtip             4840
167489         StockTipsTips             4191
175784      CliplessWingtips             3949
176985    PM_ME_YOUR_FI_TIPS             3917
210448            TipTapTips             3104
214274       Satans_pro_tips             3024
220936      PsychologicalTip             2892
221396       nashfrostedtips             2883
231789             WhyDidTip             2687
241840               ethtips             2510
243732             londontip             2478
245677            Jimmy_Tips             2446
253506       timscookingtips             2321
255837              logantip             2285
268914               Aptotip             2094
302411               DJ_Tips             1662
312206              BMFeltip             1550
337182    PM_Me_Python3_Tips             1293
360905                 INTIP             1075
363370            OneMoreTip             1054
413096       Fluorescent_Tip              681
429610      Butterfingertips              577
437696   linesinthesandQtips              529
439899           Mistah_Tips              516
448332                akatip              468
472564             DannyTips              341
487872         FilipTechTips              267
493382       Linus_Tech_Tips              243

In [10]:
df[df.author.apply(lambda x: len(re.findall(r'gpt', x, flags=re.I|re.U))> 0)]

                      author  n_contributions
45             PabloBot-GPT2           321948
58              CoopBot-GPT2           242959
62             Mistread_GPT3           234175
274            sysadmin_GPT2           108080
386     HungryScientist-GPT2            95629
...                      ...              ...
234573  glitch_matrixGPT2Bot             2639
261703                 gptop             2198
389882              gngptyee              842
486091            mahgpt1997              275
508210               ogpt123              180

[104 rows x 2 columns]

In [11]:
df[df.author.apply(lambda x: len(re.findall(r'gptj?([^a-zA-Z]|$)', x, flags=re.I|re.U))> 0)]

                      author  n_contributions
45             PabloBot-GPT2           321948
58              CoopBot-GPT2           242959
62             Mistread_GPT3           234175
274            sysadmin_GPT2           108080
386     HungryScientist-GPT2            95629
...                      ...              ...
215696  subredd_dramaGPT2Bot             2996
227057  todayilearnedGPT2Bot             2775
234573  glitch_matrixGPT2Bot             2639
486091            mahgpt1997              275
508210               ogpt123              180

[101 rows x 2 columns]

In [12]:
processed = set()
cntr = 0
with open('../data/interim/labeling_contributions_preprocessed.jsonl', encoding='utf8') as f:
    with open('../data/interim/labeling_bots.jsonl','w+', encoding='utf8') as outf:
        for l in map(json.loads, f):
            name = l['author']
            if (len(re.findall(r'bot([^a-zA-Z]|$)', name, flags=re.I|re.U))>0):
                cntr+=1
                if name in processed:
                    continue
                outf.write(json.dumps(l)+'\n')
                processed.add(name)

In [13]:
cntr

10886

In [14]:
cntr =0
with open('../data/interim/labeling_contributions_preprocessed.jsonl', encoding='utf8') as f:
    for _ in f:
        cntr+=1
print(cntr)

1200279

In [15]:
# around 1% labeling is by bots

In [16]:
df[df.author.apply(lambda x: len(re.findall(r'robot([^a-zA-Z]|$)', x, flags=re.I|re.U))> 0)]

                     author  n_contributions
30              robot301_03           500819
49              robot301_02           316572
3961      sexrobot_sexrobot            42381
6993            arcticrobot            33696
7617     NotObviouslyARobot            32518
...                     ...              ...
549927    im_not_a_robot_69               33
550924         Itsarobot123               30
555829        robot_admiral               18
561241   irradiatedBioRobot                6
563107  PreparingForRobot1x                3

[261 rows x 2 columns]

In [17]:
df[df.author.apply(lambda x: len(re.findall(r'(?<!ro)bot([^a-zA-Z]|$)', x, flags=re.I|re.U))> 0)]

                      author  n_contributions
2                transcribot          3450789
4                 thefeedbot          1750146
5       ModeratelyHelpfulBot          1707447
7               sneakpeekbot          1356545
10                removalbot          1272605
...                      ...              ...
563046              frontbot                3
563273         Breitbart_bot                3
563318              betobot_                3
563347               YrelBot                3
564578       SentinelBot3000                1

[850 rows x 2 columns]

In [18]:
df[df.author.apply(lambda x: len(re.findall(r'(((?<!ro)bot)|(gpt))([^a-zA-Z]|$)', x, flags=re.I|re.U))> 0)]

                      author  n_contributions
2                transcribot          3450789
4                 thefeedbot          1750146
5       ModeratelyHelpfulBot          1707447
7               sneakpeekbot          1356545
10                removalbot          1272605
...                      ...              ...
563046              frontbot                3
563273         Breitbart_bot                3
563318              betobot_                3
563347               YrelBot                3
564578       SentinelBot3000                1

[890 rows x 2 columns]

In [19]:
df[df.author.apply(lambda x: len(re.findall(r'(((((?!not).*)(?<!ro)bot)([^a-zA-Z]|$))|(gpt([^a-zA-Z]|$)))', x, flags=re.I|re.U))> 0)]

                      author  n_contributions
2                transcribot          3450789
4                 thefeedbot          1750146
5       ModeratelyHelpfulBot          1707447
7               sneakpeekbot          1356545
10                removalbot          1272605
...                      ...              ...
563046              frontbot                3
563273         Breitbart_bot                3
563318              betobot_                3
563347               YrelBot                3
564578       SentinelBot3000                1

[890 rows x 2 columns]

In [20]:
with open('../data/raw/botnames.txt', encoding='utf8') as f:
    botnames=set(i.strip() for i in f.read().split())
len(botnames)

437

In [21]:
new_bot_names = df[df.author.apply(lambda x: len(re.findall(r'(((?<!ro)bot)|(gpt))([^a-zA-Z]|$)', x, flags=re.I|re.U))> 0)].author.tolist()
discarding = [i for i in new_bot_names if (('not' in i.lower()) and ('bot' in i.lower()))]
new_bot_names = [i for i in new_bot_names if not (('not' in i.lower()) and ('bot' in i.lower()))]
botnames.update(new_bot_names)
len(botnames)

1286

In [22]:
print(len(botnames))

1286

In [23]:
print('\n'.join(discarding))

arealhumannotabot
notjustanotherbot
not---a---bot
not_a_bot__
Certainly-Not-A-Bot
im-not-a-bot-im-real
totesnotashinnerbot
not_a_bot_494
Not_a_spambot
IsNotARussianBot
not-gandalf-bot
NotABot101101
TotesNotaBot0010101
notarussianbot41
NOT_A_BOT_BOT_BOT
IAmNot_ARussianBot
notbot011011
imnotabot303
Thoughtnotbot
ttlynotarussian_bot
notyourusualbot
iswearimnotabot1
Not-A-Meme-Bot
TotesNottaBot
ShowNoteBot
surely_not_a_bot
soooooonotabot
HurDurIamNotBot
Real_human_not_a_bot
NotNowTrainBot
BlipBlop_not_a_bot
notbot7789
not_a_bot_12345
climatenotbot
totallynot-abot
wasp_not_a_bot
WhoMeNotABot
totally-not-abot
NOT_A_RUSSIANBOT
Notabot9
Not_A_Biased_Bot

In [24]:
with open('../data/raw/botnames_expanded.txt', 'w+', encoding='utf8') as f:
    f.write('\n'.join(sorted(botnames)))